@import "~antd/dist/antd.css";
body,
html {
	height: 100%;
	width: 100%;
}
a {
	color: black;
}

/* body {
	background: rgb(133, 51, 255);
	background: -moz-linear-gradient(
		90deg,
		rgba(133, 51, 255, 1) 12%,
		rgba(189, 44, 255, 1) 65%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(133, 51, 255, 1) 12%,
		rgba(189, 44, 255, 1) 65%
	);
	background: linear-gradient(
		90deg,
		rgba(133, 51, 255, 1) 12%,
		rgba(189, 44, 255, 1) 65%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8533ff",endColorstr="#bd2cff",GradientType=1);
} */

.icons {
	font-size: 3em;
}
.header {
	background-color: white;
	padding: 0;
}

#brand-logo a {
	color: black;
}

#brand-logo {
	font-family: "Dancing Script", cursive;
	font-weight: 700;
	margin-left: 2rem;
	font-size: 2rem;
	color: black;
}

@media (min-width: 991px) {
	.nav-collapse {
		display: none;
	}
	.nav-norm {
		display: block;
	}
}

@media (max-width: 991px) {
	#brand-logo {
		font-size: 1.7rem;
	}
	.nav-norm {
		display: none;
	}
	.nav-collapse {
		display: block;
	}
}
