@import "~antd/dist/antd.css";
body,
html {
	height: 100%;
	width: 100%;
}
a {
	color: black;
}

.icons {
	font-size: 3em;
}
.nav {
	background-color: white;
	padding: 0;
}
.sidebar {
	color: white;
}
#brand-logo a {
	color: black;
	/* color: white; */
}

#brand-logo {
	font-family: "Dancing Script", cursive;
	font-weight: 700;
	margin-left: 2rem;
	font-size: 2rem;
	color: black;
}

@media (min-width: 991px) {
	.nav-collapse {
		display: none;
	}
	.nav-full {
		display: block;
	}
}

@media (max-width: 991px) {
	#brand-logo {
		font-size: 1.7rem;
	}
	.nav-full {
		display: none;
	}
	.nav-collapse {
		display: block;
	}
}
