@import "~antd/dist/antd.css";

.journal {
	background: white;
	line-height: 2em;
	font-size: 1.2rem;
	margin: 0 auto;
}

.empty {
	margin-bottom: 3em;
}

#header-button-left {
	position: relative;
	border: none;
	float: left;
	padding: 0 0 0 8px;
}

#header-button-right {
	position: relative;
	border: none;
	float: right;
	padding: 0 8px 0 0;
}

#date {
	text-align: center;
	font-size: 2rem;
	padding-top: 1rem;
	margin-bottom: 0.5rem;
}

.divider {
	margin-top: 1em;
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.wide-divider {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.todo-list {
	padding-left: 1.5rem;
}
.general-list {
	padding-left: 1.5rem;
}

@media (min-width: 993px) {
	.journal {
		width: 70%;
		min-height: 35rem;
	}
}

@media (min-width: 1440px) {
	.journal {
		width: 50%;
		min-height: 44rem;
	}
}

@media (min-width: 1600px) {
	.journal {
		width: 45%;
		min-height: 55rem;
	}
}

@media (max-width: 991px) {
	.journal {
		min-height: 50rem;
	}
	.date {
		font-size: 2rem;
		padding-top: 1rem;
		margin-bottom: 1rem;
	}
	.general-list {
		padding-bottom: 10rem;
	}
}

@media (max-width: 767px) {
	.journal {
		min-height: 20rem;
	}
}

@media (max-width: 600px) {
	.journal {
		min-height: 28rem;
	}
}
